<% include common_header %>

<% include common_menu %>

<div class="w3-container">
    <p>
        <h2>Bienvenue chez Harry !</h2>
        Ce site est dédiée à un projet personnel en sémantique française. Face à l'explosion des informations disponibles sur internet, le fait pour les ordinateurs de comprendre les utilisateurs est de plus en plus important.
        On trouve de exemples d'usage de l'anayse sémantique un peu partout aujourd'hui. Les plus connus sont les outils de Google et Apple sur les smartphones. Les sites d'ecommerce sont eux aussi de plus en plus nombreux à utiliser ce genre d'algorithmes, et on trouve même des robots <a href="http://www.estherbot.com/" title="Estherbot">répondant à des entretiens de recrutement</a> !
    </p>
    <p>
        Le problème qui se pose est de savoir comment intégrer facilement la compréhension du monde extérieur à un programme informatique. J'y réfléchise depuis quelques années maintenant, et de formidables solutions sont apparues entre-temps, notamment via le <a href="https://fr.wikipedia.org/wiki/Deep_learning" title="Deep learning sur wikipedia"> deeplearning</a>. La capacité des ordinateurs à comprendre notre langage, interpréter des sons et des images, est désormais proche de ce que l'on peut trouver dans les romans de science fiction. C'est une ère incroyable ! Cela dit, un robot connaisant par coeur la langue française ne sert à rien s'il n'est pas capable de réaliser ce que cela signifie pour l'utilisateur, et ensuite d'agir en fonction de ses déductions. Et là...pour le moment, rien ne me satisfait. Déjà, on trouve peu de ressources en langue française. Ensuite, j'aimerais que les grosses entreprises n'aient pas le monopoles des actions possibles suite à la compréhension du monde. Alors je vais tenter un truc, qui sera ensuite libre de droit, gratuit, et codé pour être utilisable par le plus grand nombre.
    </p>
    <p>
        Le robot s'appelle donc Harry suite à une inside joke. À l'avenir, j'espère bien qu'il sera possible de discuter directement avec lui. Pour le moment, Harry est un bébé ! Il n'a à sa disposition qu'une liste de vocabulaire, et ne sait ni ce que cela représente, ni comment les utiliser. Le butest de constuire une structure permettant de lui enseigner des choses petit à petit. Ce ne sera jamais aussi performant que les technologies des grands, mais le but est de compenser ce manque de puissance par une plusgrande modularité et pertinence.
        <br>En attendant donc, ce site montre les évolutions de ce qu'il connaît et sait faire. Pour moi, c'est un moyen de concrétiser les développements et de me concentrer sur le principal. Cela me permet aussi de me sortir la tête des algorithmes en faisant quelque chose d'utile.
        
    </p>
    <p>
        Si vous voulez discuter du projet, n'hésitez pas à me contacter par <a href="mailto:darkblade_94@hotmail.com">email</a>.
    </p>
    <p>
        Portez-vous bien, <br>
        Nakurai
    </p>
    
</div>

<% include common_footer %>